// BREAKPOINTS
$layout-mobile: 375px;
$layout-desktop: 1440px;

$breakpoint-mobile: 480px;
$breakpoint-mobile-landscape: 600px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop-sd: 1024px;
$breakpoint-desktop-hd1: 1366px;
$breakpoint-desktop-hd2: $layout-desktop;
$breakpoint-desktop-fhd: 1920px;

// COLORS
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-dark-gray: hsl(0, 0%, 55%);
$color-very-dark-gray: hsl(0, 0%, 41%);

// TIPOGRAPHY
$font-alata: 'Alata', sans-serif;
$font-josefin-sans: 'Josefin Sans', sans-serif;

// BROWSERS CORE
$browsers-core-default: (
    "moz",
    "webkit"
);

// CONTAINER WIDTH
$container-max-width: 1100px;
$container-padding-x: 20px;
$container-padding-y: 0;

// TRANSITION PROPERTIES
$transition-property: all;
$transition-duration: 300ms;
$transition-timing-function: ease;